.text-center.m-bottom-5
    b Chat Theme
li
  form.form-horizontal(id='chat-theme-form-default', action='/theme/chat', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='theme', value='default')
  a(href='#' onclick='$("#chat-theme-form-default").submit()')
    | Default
    if user.chatTheme == 'default'
      i.fa.fa-check.pull-right
li
  form.form-horizontal(id='chat-theme-form-terminal', action='/theme/chat', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='theme', value='terminal')
  a(href='#' onclick='$("#chat-theme-form-terminal").submit()')
    | Terminal
    if user.chatTheme == 'terminal'
      i.fa.fa-check.pull-right
li
  form.form-horizontal(id='chat-theme-form-blue', action='/theme/chat', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='theme', value='blue')
  a(href='#' onclick='$("#chat-theme-form-blue").submit()')
    | Blue
    if user.chatTheme == 'blue'
      i.fa.fa-check.pull-right