.text-center.m-bottom-5
    b Theme
li
  form.form-horizontal(id='chat-theme-form')
    input.hidden(type='radio', name='theme', id='chat-default', value='default')
    input.hidden(type='radio', name='theme', id='chat-terminal', value='terminal')
    input.hidden(type='radio', name='theme', id='chat-blue', value='blue')

  a(href='#', onclick='$("#chat-default").prop("checked", true); $("#chat-theme-form").submit()')
    | Default
    i.fa.fa-check.pull-right.hidden(id='chat-default-check')
  a(href='#', onclick='$("#chat-terminal").prop("checked", true); $("#chat-theme-form").submit()')
    | Terminal
    i.fa.fa-check.pull-right.hidden(id='chat-terminal-check')
  a(href='#', onclick='$("#chat-blue").prop("checked", true); $("#chat-theme-form").submit()')
    | Blue
    i.fa.fa-check.pull-right.hidden(id='chat-blue-check')