.text-center.m-bottom-5.m-top-5
	b Editor Theme
li
	form.form-horizontal(id='editor-theme-form', action='/theme/editor', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)

		input.hidden(type='radio', name='theme', id='editor-default', value='default')
		input.hidden(type='radio', name='theme', id='editor-blackboard', value='blackboard')
		input.hidden(type='radio', name='theme', id='editor-cobalt', value='cobalt')
		input.hidden(type='radio', name='theme', id='editor-dracula', value='dracula')
		input.hidden(type='radio', name='theme', id='editor-hopscotch', value='hopscotch')
		input.hidden(type='radio', name='theme', id='editor-material', value='material')
		input.hidden(type='radio', name='theme', id='editor-mdn-like', value='mdn-like')
		input.hidden(type='radio', name='theme', id='editor-midnight', value='midnight')
		input.hidden(type='radio', name='theme', id='editor-monokai', value='monokai')
		input.hidden(type='radio', name='theme', id='editor-neo', value='neo')
		input.hidden(type='radio', name='theme', id='editor-night', value='night')
		input.hidden(type='radio', name='theme', id='editor-pastel-on-dark', value='pastel-on-dark')
		input.hidden(type='radio', name='theme', id='editor-railscasts' value='railscasts')
		input.hidden(type='radio', name='theme', id='editor-solarized' value='solarized')
		input.hidden(type='radio', name='theme', id='editor-yeti' value='yeti')

	a(href='#', onclick='$("#editor-default").prop("checked", true); $("#editor-theme-form").submit()')
		| Default
		i.fa.fa-check.pull-right.hidden(id='editor-default-check')
	a(href='#', onclick='$("#editor-blackboard").prop("checked", true); $("#editor-theme-form").submit()')
		| Blackboard
		i.fa.fa-check.pull-right.hidden(id='editor-blackboard-check')
	a(href='#', onclick='$("#editor-cobalt").prop("checked", true); $("#editor-theme-form").submit()')
		| Cobalt
		i.fa.fa-check.pull-right.hidden(id='editor-cobalt-check')
	a(href='#', onclick='$("#editor-dracula").prop("checked", true); $("#editor-theme-form").submit()')
		| Dracula
		i.fa.fa-check.pull-right.hidden(id='editor-dracula-check')
	a(href='#', onclick='$("#editor-hopscotch").prop("checked", true); $("#editor-theme-form").submit()')
		| Hopscotch
		i.fa.fa-check.pull-right.hidden(id='editor-hopscotch-check')
	a(href='#', onclick='$("#editor-material").prop("checked", true); $("#editor-theme-form").submit()')
		| Material
		i.fa.fa-check.pull-right.hidden(id='editor-material-check')
	a(href='#', onclick='$("#editor-mdn-like").prop("checked", true); $("#editor-theme-form").submit()')
		| Mdn-Like
		i.fa.fa-check.pull-right.hidden(id='editor-mdn-like-check')
	a(href='#', onclick='$("#editor-midnight").prop("checked", true); $("#editor-theme-form").submit()')
		| Midnight
		i.fa.fa-check.pull-right.hidden(id='editor-midnight-check')
	a(href='#', onclick='$("#editor-monokai").prop("checked", true); $("#editor-theme-form").submit()')
		| Monokai
		i.fa.fa-check.pull-right.hidden(id='editor-monokai-check')
	a(href='#', onclick='$("#editor-neo").prop("checked", true); $("#editor-theme-form").submit()')
		| Neo
		i.fa.fa-check.pull-right.hidden(id='editor-neo-check')
	a(href='#', onclick='$("#editor-night").prop("checked", true); $("#editor-theme-form").submit()')
		| Night
		i.fa.fa-check.pull-right.hidden(id='editor-night-check')
	a(href='#', onclick='$("#editor-pastel-on-dark").prop("checked", true); $("#editor-theme-form").submit()')
		| Pastel-on-Dark
		i.fa.fa-check.pull-right.hidden(id='editor-pastel-on-dark-check')
	a(href='#', onclick='$("#editor-railscasts").prop("checked", true); $("#editor-theme-form").submit()')
		| Railscasts
		i.fa.fa-check.pull-right.hidden(id='editor-railscasts-check')
	a(href='#', onclick='$("#editor-solarized").prop("checked", true); $("#editor-theme-form").submit()')
		| Solarized
		i.fa.fa-check.pull-right.hidden(id='editor-solarized-check')
	a(href='#', onclick='$("#editor-yeti").prop("checked", true); $("#editor-theme-form").submit()')
		| Yeti
		i.fa.fa-check.pull-right.hidden(id='editor-yeti-check')