extends layout

block content
	.col-sm-12.m-bottom-15
		h1.text-center(style='margin-top: 150px; font-size: 60px;') CodePeer
		p.text-center.lead Connecting CS students with peer tutors.
	.col-sm-12.text-center.m-top-15
		a.btn.btn-lg.btn-primary.m-right-15(href='/login') Log In
		a.btn.btn-lg.btn-success(href='/signup') Sign Up