extends layout

block content
	.col-sm-12.m-bottom-15(style='margin-top: 150px')
		h1.text-center(style='font-size: 50px;') Start Collaborating Now
	.col-sm-12.text-center.m-top-15
		button.btn.btn-lg.btn-primary(type='submit')
			i.fa.fa-share-alt
			| Begin Session