html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(238, 238, 238, 0.9);
}

.navbar-default .navbar-brand {
  color: #252525;
}

.navbar-default .navbar-nav > li > a {
  color: #252525;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #4da5f4;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4da5f4;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4da5f4;
  background-color: transparent;
}

.fa {
  margin-right: 6px;
}

.a-link:hover {
  text-decoration: none;
}

.a-link {
  transition: all 0.2s linear;
}

.footer-a {
  color: #252525;
}