extends ../layout
include ../mixins/session_list_item

block content
	.col-sm-12.m-bottom-15(style='margin-top: 50px')
		h1.text-center(style='margin-bottom: 25px;') Join a Student Session
		.session-list
			if activeSession.length > 0
				h3.text-center Your Active Session
				+session_list(activeSession)
				hr
			if codeSessions.length > 0
				+session_list(codeSessions)
			else
				h3.text-center No Active Sessions
			